:root {
    --full: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                                                                            /*region [#1e1a1a]*/
.flex {
    display: flex;
}
.wmax {
    width: 100%;
}
.htmax {
    height: 100%;
}
.flex {
    display: flex;
}
.YellowBackground {
    background-color: #FEBF00;
}
.BrownBackground {
    background-color: #241F14;
}
.whiteBackground {
    background-color: #fff;
}
.YellowFont {
    color: #FEBF00;
}
.BrownFont {
    color: #241F14;
}
.whiteFont {
    color: #fff;
}

                                                                            /*endregion*/
                                                                            /*region [#12286199]*/

                                                                            /*endregion*/