:root {
    --full: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                                                                            /*region [#1e1a1a]*/
.wmax {
    width: 100%;
}
.htmax {
    height: 100%;
}
.flex {
    display: flex;
}
                                                                            /*endregion*/
                                                                            /*region [#12286199]*/
header {
    background-color: aqua;
}
.navbar {
    background-color: blue;
}
body {
    background-color: greenyellow;
}
                                                                            /*endregion*/